{% extends "base-structure.html" %}

{% block title %}
About the Developer
{% endblock %}

{% block head %}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
     a:link {color: black;}
     a:visited {color: black;}
     a:hover {color: red;}
     a:active {color: black;}

    .mt-6{
      display: inline-block;
      padding-right: 30px;
    }

    #first-para {
      padding-top: 15px;
    }

  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-female" aria-hidden="true"></i> About Raveena Wadhwa</h1>

  <p id="first-para"> I am a determined, enthusiastic and hardworking Junior majoring in Management Information Systems at the University of Delaware. I have experience in office services and small business operations . I plan to gain experience and skills through internship opportunities in the MIS industry that I can use in the future. I can be contacted at rwadhwa@udel.edu.</p>



  <h3 id="link-header">My Links: </h3>

  <div class="col col-lg-3">
  <h3 class="mt-6"><a href="https://twitter.com/RAVEe_NAtion"><i class="fa fa-twitter" aria-hidden="true"></i></a></h3>
  <h3 class="mt-6"><a href="https://www.facebook.com/raveena.wadhwa"><i class="fa fa-facebook" aria-hidden="true"></i></a></h3>
</div>

</div>
{% endblock %}
